@keyframes btn-primary-hover {
    0% {
        background: linear-gradient(98.88deg, #8C01FA 0%, #000000 100%);
    }
    100% {
        background: linear-gradient(-98.88deg, #01ccfa 0%, #000000 100%);
    }
}

@keyframes home-h1-anim {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes home-p-anim {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
