:root {
    --color-dark: #000000;
    --color-dark-primary: #303030;
    --color-dark-secondary: #505050;
    --color-dark-tertinary: #808080;
    --color-dark-quaternary: #808080;
    --color-light: #ffffff;
    --color-light-primary: #e1e1e1;
    --color-light-secondary: #c4c4c4;
    --color-light-tertinary: #bababa;
    --color-light-quaternary: #808080;
}